<div id="keerthi">
<div class="container">
    <h3 class="d-flex justify-content-center">LOGIN</h3>
<div>
<form class="form" onload="capGenerate()">
    <input type="text" class="form-control mt-2" name="username" [(ngModel)]="formData.name"  placeholder="Username">
    <input type="password" class="form-control"  name="password" [(ngModel)]="formData.password" placeholder="password">
    <p class="mt-3">FORGET ACCOUNT DETAILS?</p>
    <canvas id="captcha" width="200" height="100" x="50" y="50" style="border:1px solid #000000; color: blue;">
        {{captcha}}</canvas>
    <!-- <svg id="captcha" width="280px" height="100px" style="border:1px solid black">
        <text fill="#2F4676" font-size="40" font-family="Verdana" x="50" y="70">{{captcha}}</text>
        </svg> -->
    <p>{{captcha}}</p>
        <input id="textBox" class="form-control" type="text" name="text" placeholder="Enter Captcha">
        <p id="key"></p>
    <input class="input-check font-size-small" type="checkbox"> 
        <label class="input-label">  Login & Booking with OTP</label> <br>
    <button class="btn my-2 " id="signIn" type="submit" (click)="onSubmit()">SIGN IN</button>
</form>
</div>
<div class="row d-flex justify-content-around align-items-center" id="footer">
    <div class="col-md-6 ">
        <button class="btn ">REGISTER</button>
    </div>
    <div class="col-md-6">
        <button class="btn ">AGENT LOGIN</button>
    </div>
</div>
</div>
</div>

<script>
//     let captcha;
// function capGenerate(){
//     captcha=document.getElementById("captcha");
//     let uniqueCaptcha=" ";
//     let character="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwx1234567890";

//     for(let i=0;i<=5;i++){
//         uniqueCaptcha += character.charAt(Math.random() * character.length)
//     }

//     captcha.innerHTML = uniqueCaptcha;
// }

// function validateCaptcha(){
//     let userInput= document.getElementById("textBox").value;

//     if(userInput===captcha.innerHTML)
//     {
//         document.getElementById("key").innerHTML = "Matched"
//         capGenerate();
//     }
//     else{
//         document.getElementById("key").innerHTML = "Not Matched"
//         capGenerate();
//     }
// }
</script>