*{
    margin: 0;
    padding: 0;
}
#keerthi{
    padding-left: 35%;
    padding-top: 40px;
}

.container{
    width: 300px;
    height: 530px;
    margin: 30px 50px;
    padding: 10px   ;
    border: 2px solid white;
    box-shadow: 2px 2px 8px;
}

h3{
    color: #2F4676;
    padding-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-color: #2F4676;
    border-bottom-width: 3px;
}
.form .form-control{
    outline: none;
    border: none;
    border-radius: 0px;
    border-top: 1px solid rgb(226, 221, 221);
}
.form .form-control::placeholder{
    color: #2F4676;
    font-weight: bold;
    font-size: small;
}
.form .form-control:focus{
    border: 1px solid #2F4676;
    box-shadow: none;
}
#textBox{
    border-bottom: 3px solid rgb(226, 221, 221);
    
}
#textBox:focus{
    border: 1px solid #2F4676;
    border-bottom: 3px solid #2F4676;
}
.form label{
    color: #2F4676;
    font-size: small;
    font-weight: bold;
    padding-left: 8px;
}
#signIn{
    width: 100%;
    background-color: #FB792B;
    color: white;
    font-size: small;
    font-weight: bold;
}
#footer{
    margin: 2px;
}
#footer .btn{
    width: 90%;
    background-color: #2F4676;
    color: white;
    font-size: small;
    font-weight: bold;
    border-radius: 0px;
}
#footer .col-md-6{
    padding: 0px;
    margin: 0px;
}
/* #captcha{
    color: #FB792B;
} */

