<div id="p-detailsPage">
    <form class="form" action="#">
    <div class="row mt-4"> 
    <div class="col-md-4">     
    <input class="form-control" type="text" placeholder="First Name">
    </div>
    <div class="col-md-4">
    <input class="form-control" type="text" placeholder="Middle Name[ optional ]">
    </div>
    <div class="col-md-4">
    <input class="form-control" type="text" placeholder="Last Name[ optional ]">
    </div></div>  

    <p class="text mt-4">Info!Please provide your exact nameas per Aadhaar to avail Aadhaar based benefits on IRCTC e-ticketing website.</p>

    <div class="row mt-4">
        <div class="col-md-6 mt-4">
        <select class="form-select" >
            <option value="SO-1">Select Occupation</option>
            <option value="SO-2">GOVERNMENT</option>
            <option value="SO-3">PUBLIC</option>
            <option value="SO-4">PRIVATE</option>
            <option value="SO-5">PROFESSIONAL</option>
            <option value="SO-6">SELF EMPLOYED</option>
            <option value="SO-7">STUDENT</option>
            <option value="SO-8">OTHERS</option>
        </select>
        </div>
        <div class="col-md-6 mt-4" >
            <input class="form-control" type="date" placeholder="Date Of Birth">
        </div>
        <div class="col-md-6 mt-4" >
            <input class="form-radio" type="radio" >Married
            <input class="form-radio" type="radio" >Married
        </div>
        <div class="col-md-6 mt-4" >
            <select class="form-select" >
                <option value="N-1">India</option>
                <option value="N-2">Srilanka</option>
                <option value="N-3">Iceland</option>
                <option value="N-4">America</option>
                <option value="N-5">Hungary</option>
                <option value="N-6">Chaina</option>
                <option value="N-7">Japan</option>
                <option value="N-8">Pakistan</option>
            </select>
        </div>
        <div class="col-md-6 btn mt-4 p-2" >
            <button class="btn-group">Male</button>
            <button class="btn-group">Female</button>
            <button class="btn-group">Transgender</button>
        </div>
        <div class="col-md-6 mt-4" >
            <input class="form-control" type="email" placeholder="Email">
        </div>
        <div class="col-md-2 mt-4" >
            <input class="form-control" type="text" placeholder="+91">
        </div>
        <div class="col-md-4 mt-4" >
            <input class="form-control" type="text" placeholder="Mobile">
        </div>
        <div class="col-md-6 mt-4" >
            <select class="form-select" >
                <option value="N-1">Nationality</option>
                <option value="N-2">India</option>
                <option value="N-3">Iceland</option>
                <option value="N-4">America</option>
                <option value="N-5">Hungary</option>
                <option value="N-6">Chaina</option>
                <option value="N-7">Japan</option>
                <option value="N-8">Pakistan</option>
            </select>
        </div>
    </div>
    <div class="row  mt-4 px-1 d-flex justify-content-start">
        <div class="col-md-6"><button class="btn" id="basCancelBtn">Cancel</button></div>
        <div class="col-md-6"><button class="btn" id="basContBtn">Continue<i class="fa-solid fa-arrow-right fa-lg px-1"></i></button></div>
        
    </div>









</form>

</div>