<div id="b-detailsPage">
    <p>GARBAGE/JUNK VALUES IN PROFILE MAY LEAD TO DEACTIVATION</p>
    <small>Please use a valid E-mail ID and mobile number in registration.</small>

    <form class="form" id="regBasic">
        <input class="form-control mt-4" id="regUserName" type="text" placeholder="User Name" [(ngModel)]="formData.name">
        <p id="alert"></p>
        <input class="form-control mt-4" id="regPassword" type="password" placeholder="password" [(ngModel)]="formData.password">
        <p id="alert"></p>
        <input class="form-control mt-4"  id="regConfirmPassword" type="password" placeholder="Confirm password">
        <p id="alert"></p>
        <select class="form-select mt-4" id="regPreferredLanguage"  name="" id="" aria-placeholder="Default select example">
            <option value="1">Preferred Language</option>
            <option value="2">English</option>
            <option value="3">Hindi</option>
        </select> 
        <p id="alert"></p> 
        <select class="form-select mt-4" id="regSecurityQuestions" name="" id="" aria-placeholder="Default select example">
            <option value="1">Security Question</option>
            <option value="2">What is your pet name?</option>
            <option value="3">Who was your childhood hero?</option>
            <option value="4">Where did you first meet your spouse?</option>
        </select>
        <p id="alert"></p>
        <input class="form-control mt-4 " id="regSecurityAns" type="text" placeholder="Security Answer">
        <p id="alert"></p>
        <div class="row  mt-4 px-1 d-flex justify-content-start">
            <div class="col-md-6"><button class="btn" id="basCancelBtn">Cancel</button></div>
            <div class="col-md-6"><button class="btn" id="basContBtn" (click)=" onSubmit()">Continue<i class="fa-solid fa-arrow-right fa-lg px-1"></i></button></div>
            
        </div>
    </form>
</div>

