<div class="container m-1 px-2">
    <div class="row m-3 p-5">
        <div class="col-md-8">
    <div class="row p-1" id="regHeader">
        <div class="col-md-6 d-flex justify-content-start"><h3>Create Your Account</h3></div>
        <div class="col-md-6 d-flex justify-content-end"><a href="login.html">SIGN IN</a></div>
    </div>
    <div class="row" id="regBtn">
        <div class="col-md-4"> <button class="btn p-2" id="b-details" onclick="basicDetails()"> Basic Details </button></div>
        <div class="col-md-4"><button  class="btn p-2" id="p-details">Personal Details</button></div>
        <div class="col-md-3"><button  class="btn p-2" id="A-details">Address</button></div>
        <div id="registerDetails"></div>
    </div>






    

    </div>
    <div class="col-md-4">Ad</div>
    </div>
    </div>