<div class="row mt-3 py-3" id="contact">
    <div class="col-md-6 text-white d-flex justify-content-end align-items-center">
    <h5>Get Connected with us on social networks</h5>
    </div>

    <div class="col-md-6 d-flex " id="social">
        <div class="px-3 me-2" id="fb"><i class="fa-brands fa-facebook-f fa-lg"></i></div>
        <div class="px-3 me-2" id="yt"><i class="fa-brands fa-youtube fa-lg"></i></div>
        <div class="px-3 me-2" id="ig"><i class="fa-brands fa-instagram fa-lg"></i></div>
        <div class="px-3 me-2" id="lin"><i class="fa-brands fa-linkedin-in fa-lg"></i></div>
        <div class="px-3 me-2" id="tg"><i class="fa-brands fa-telegram fa-lg"></i></div>
        <div class="px-3 me-2" id="pt"><i class="fa-brands fa-pinterest fa-lg"></i></div>
        <div class="px-3 me-2" id="tum"><i class="fa-brands fa-tumblr fa-lg"></i></div>
        <div class="px-3 me-2" id="kapp"><i class="fa-solid fa-duck fa-lg"></i></div>
        <div class="px-3 me-2" id="tw"><i class="fa-brands fa-twitter fa-lg"></i></div>

    </div>


</div>